<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>597484501247-pqg3motu04gurba0p79utjd9ju3uufsc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.597484501247-pqg3motu04gurba0p79utjd9ju3uufsc</string>
	<key>API_KEY</key>
	<string>AIzaSyCyISulfqg1pJU45pLPvIJKReBcz2EgHew</string>
	<key>GCM_SENDER_ID</key>
	<string>597484501247</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.CreativeCalendar</string>
	<key>PROJECT_ID</key>
	<string>vertical-web-144305</string>
	<key>STORAGE_BUCKET</key>
	<string>vertical-web-144305.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:597484501247:ios:fd2fa90998e2c4b8</string>
	<key>DATABASE_URL</key>
	<string>https://vertical-web-144305.firebaseio.com</string>
</dict>
</plist>